




@media only screen and (orientation: portrait) and (max-width: 1080px) {
#homepage {
    left: 46.5%;
}
.topRow {
    top: 17%;
}
.secondRow {
    top: 37%;
}
.thirdRow {
    top: 57%;
}
.bottomRow {
    top: 77%;
}
.leftRow {
    left: 14%;
}
.middleRow {
    left: 41%;
}
.rightRow {
    left: 68%;
}
#returnLink {
    top: 98%;
    left: 46.4%;
}
}
@media only screen and (orientation: portrait) and (max-width: 1050px) {
#homepage {
    left: 46.2%;
}
 .topRow {
    top: 18%;
}
.secondRow {
    top: 41%;
}
.thirdRow {
    top: 64%;
}
.bottomRow {
    top: 87%;
}
#returnLink {
    top: 111%;
}
}
@media only screen and (orientation: portrait) and (max-width: 900px) {
#homepage {
    left: 45%;
}
#homePageTitle {
    font-size: 300%;
}
.siteInfo {
    left: 15%;
    width: 70%;
}
.topRow {
    top: 18%;
}
.secondRow {
    top: 43%;
}
.thirdRow {
    top: 68%;
}
.bottomRow {
    top: 93%;
}
.leftRow {
    left: 12%;
}
.middleRow {
    left: 39%;
}
.rightRow {
    left: 66%;
}
#returnLink {
    top: 119%;
    left: 45.5%;
}
}
@media only screen and (orientation: portrait) and (max-width: 864px) {
h1 {
    font-size: 300%;
}
p {
    font-size: 100%;
}
.siteInfo {
    left: 10%;
    width: 80%;
    font-size: 90%;
}
ul {
    font-size: 90%;
}
.topRow {
    top: 24%;
}
.secondRow {
    top: 58%;
}
.thirdRow {
    top: 92%;
}
.bottomRow {
    top: 126%;
}
.leftRow {
    left: 12%;
}
.middleRow {
    left: 39%;
}
.rightRow {
    left: 66%;
}
#returnLink {
    top: 161%;
    left: 45.8%;
}
}
@media only screen and (orientation: portrait) and (max-width: 800px) {
h2 {
    font-size: 100%;
}
.topRow {
    top: 21%;
}
.secondRow {
    top: 51%;
}
.thirdRow {
    top: 81%;
}
.bottomRow {
    top: 111%;
}
.leftRow {
    left: 15%;
}
.middleRow {
    left: 42%;
}
.rightRow {
    left: 69%;
}
#returnLink {
    top: 142%;
    left: 44.6%;
}
}
@media only screen and (orientation: portrait) and (max-width: 768px) {
.siteInfo {
    font-size: 80%;
}
ul {
    font-size: 80%;
}
#homepage {
    left: 44%;
}
.topRow {
    top: 27%;
}
.secondRow {
    top: 65%;
}
.thirdRow {
    top: 103%;
}
.bottomRow {
    top: 141%;
}
.leftRow {
    left: 14%;
}
.middleRow {
    left: 41%;
}
.rightRow {
    left: 68%;
}
#returnLink {
    top: 180%;
    left: 44%;
}
}
@media only screen and (orientation: portrait) and (max-width: 600px) {
.siteInfo {
    font-size: 60%;
}
ul {
    font-size: 75%;
}
#homepage {
    left: 42.3%;
}
.topRow {
    top: 37%;
}
.secondRow {
    top: 85%;
}
.thirdRow {
    top: 133%;
}
.bottomRow {
    top: 181%;
}
.leftRow {
    left: 11.5%;
}
.middleRow {
    left: 38.5%;
}
.rightRow {
    left: 65.6%;
}
#returnLink {
    top: 232%;
    left: 42.3%;
}
}